body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}



#map {
    height: 90%;
}

#slider {
    width: 100%;
}

.leaflet-container {
    background: rgba(0, 0, 0, .8) !important;
}

h1 {
    text-align: center;
}

#min {
    float: left;
}

#max {
    float: right;
}

.legend-area {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    outline: 3px solid #000;
    line-height: 1em;
}

h4 {
    margin: 0;
    padding: 0;
}